body {
	background: lightgray;
}
header {
	background: orange;
}
#loginForm {

	background: white;
}

#topic {
	background: white;
}
.topicMessage {
	background: white;
}
.topicMessage.even {
	background: lightgray;
}